.master {

}
.title {
    margin-top: 0.5cm;
    color: #E62490;
    font-size: 25px;
    font-variant: small-caps;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
.logo-carry img {
    width: 100%;
}
.buttons {
    text-align: center;
}
.buttons button {
    width: 100%;
    margin-bottom: 10%;
    font-size: 25px;
    /*border: solid 2px;*/
}
.btn-1 {
    border: solid 2px #4997D6;
    color: #4997D6;
}
.btn-2 {
    border: solid 2px #7172C0;
    color: #7172C0;
}
.btn-3 {
    border: solid 2px #E5238F;
    color: #E5238F;
}
.fixed-logo {
    position: absolute;
    height: 20%;
    right:0;
    top:0;
    z-index: 999;
}
button, .btn_general {
    background-color: transparent;
    font-weight: bold;
}